# Windows image file caches
Thumbs.db
ehthumbs.db
.idea

#Too larges videos
Au_coeur_des_machines_19062016.mp4

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
local_settings.py
uploads/
venv/
migrations/
__pycache__

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*~

# Fichiers Latex
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.mp4
*.avi
*.flv
*.bak
Ressources
ressources
*_prive.py
qrcode.svg
qrcode.png
Notes.txt

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
